* {
  margin: 0%;
  padding: 0%;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url('images/horska_krava.jpg');
  background-size: cover;
  background-position: center;
}

.mladata-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url('images/bg-mlade.jpg');
  background-size: cover;
  background-position: center 30%;
}

.card-img-top {
  height: auto;
  object-fit: cover;
  width: 100%;
}


.cow_drawing {
  height: 500px;
  display: flex;
  justify-self: center;
}

.hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('images/ester.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

#carouselExampleFade{
  height: auto;
}

.team-card {
  transition: all 0.3s ease;
}

.team-card:hover {
  background-color: lightgray !important;
  color: #181717 !important;
}


.gallery{
  height: 200;
  width: 300px;
}



.image-section {
  position: relative;   
  min-height: 80vh;     
  overflow: hidden;     
}

.image-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/bg-mlade.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  z-index: -2;
}

.image-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  z-index: -1;
}

.image-section .card {
  background: rgba(255, 255, 255, 0.95);
}




.bg-dark .accordion-button {
  background-color: #181717 ;
  color: #fff;
}

.bg-dark .accordion-body {
  background-color: #181717 ;
  color: #ddd;
}



.bg-dark {
  background-color: #181717 !important;
}



.fs-max {
  font-size: 10rem;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

footer {
  font-family: 'Lexend Deca', sans-serif;
}



.custom-shape-divider-top-1766758625 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1766758625 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 38px;
}

.custom-shape-divider-top-1766758625 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1766758569 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1766758569 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 38px;
}

.custom-shape-divider-bottom-1766758569 .shape-fill {
  fill: #FFFFFF;
}